# Azure SQL Database Configuration
DB_DRIVER={ODBC Driver 17 for SQL Server}
DB_SERVER=budgetmate-db-server-bhashitha.database.windows.net
DB_DATABASE=BudgetMate
DB_USER=Admin321
DB_PASSWORD=YOUR_PASSWORD_HERE

# Security Config
SECRET_KEY=your_secret_key
ALGORITHM=HS256

# Email Config (Gmail App Password)
EMAIL_ADDRESS=your_email@gmail.com
EMAIL_PASSWORD=your_app_password