# Oracle Cloud Database Configuration
# DO NOT put actual passwords in here. This is just a template for the team.
DB_USER=YOUR_USERNAME_HERE
DB_PASSWORD=YOUR_PASSWORD_HERE
DB_DSN=zyhs69eyev1fqdxg_high
WALLET_LOCATION=./wallet

# Security Config
SECRET_KEY=your_secret_key
ALGORITHM=HS256

# Email Config (Gmail App Password)
EMAIL_ADDRESS=your_email@gmail.com
EMAIL_PASSWORD=your_app_password