# Oracle Cloud Database Configuration
# DO NOT put actual passwords in here. This is just a template for the team.
DB_USER=YOUR_USERNAME_HERE
DB_PASSWORD=YOUR_PASSWORD_HERE
DB_DSN=zyhs69eyev1fqdxg_high
WALLET_LOCATION=./wallet
