@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
